<footer>
    <div class="mx-4">
        <div class="border-t-2 mt-8"></div>
        <div class="flex mx-4 my-4 items-center w-1/2">
            <div class="mx-2">회사소개</div>
            <div class="mx-2">이용안내</div>
            <div class="mx-2">이용약관</div>
            <div class="mx-2 font-bold text-lg">개인정보처리방침</div>
            <div class="mx-2">청소년보호정책</div>
        </div>
        <div class="border-t-2"></div>
        <div class="flex justify-between mx-4 my-4 items-center bg-purple-100 py-4">
            <div>
                <div>와이디네트웍스(주) | 대표이사 : 서형권</div>
                <div>인천시 남동구 앵고갤로 523</div>
                <div>사업자 등록번호 : 224-86-00162</div>
                <div>통신판매업신고 : 2018 - 인천남동구 - 0547 호</div>
                <div>전화 : 032 - 875 - 1571</div>
                <div>E-MAIL: ydnet@ydnet.kr</div>
                <div>&copy; DY Networks</div>
            </div>
            <div class="flex place-items-start h-40">
                <i class="fab fa-twitter text-2xl mx-4"></i>
                <i class="fab fa-facebook-square text-2xl mx-4"></i>
                <i class="fab fa-youtube text-2xl mx-4"></i>
                <i class="fab fa-instagram text-2xl mx-4"></i>

            </div>
            
        </div>
       
     
    </div>
   
   
</footer>