{% load static %}


    <div class="container mx-auto flex items-center justify-between border-b-2 border-green-400 w-full h-30">
        <div class="flex items-center justify-around w-1/4">
            <div class="">
                <div class="bg-green-400 p-4 js-showing text-white font-semibold item-center flex flex-col item-center hover:text-blue-500">
                    <div class="flex justify-center mb-2">
                        <i class="fas fa-bars fa-lg"></i>
                    </div>
                    <div>카테고리</div>
                </div>
                <div class="bg-green-400 p-4 js-select hidden fixed border-t border-white">
                    <div class="text-lg border-b-2 border-white hover:border-blue-500 px-1 py-2 text-white hover:text-blue-500"><a href="{% url "rooms:buy" %}">삽니다</a></div>
                    <div class="text-lg border-b-2 border-white hover:border-blue-500 px-1 py-2 text-white hover:text-blue-500"><a href="{% url "rooms:sell" %}">팝니다</a></div>
                </div>
                

            </div>
            <div class="ml-4">
                <a href="{% url "core:home" %}">
                <img class="w-48 " src="{% static 'img/logo.png' %}" />
                </a>
            </div>
        </div>
        <div class="border-2 border-green-400 w-1/4  hover:border-blue-500">
         <form method="GET" action="{% url "rooms:search" %}">
            <input class="placeholder-gray-500 text-center text-sm font-semibold w-5/6 py-2" name="name" placeholder="상품명을 검색하세요"/>
            <button class="bg-purple-600 text-white px-3 rounded-md"><i class="fas fa-search text-sm"></i></button>
        </form>
        </div>
        <div class="w-1/4">
            <ul class="flex justify-end items-center text-sm">
                <li class="ml-8 border-b-2 border-white hover:border-blue-500 py-10 w-1/5 text-center">
                    <a href="#">
                        <div>
                            <i class="fas fa-user fa-lg mr-2"></i>
                        </div>
                        <div>
                            마이페이지
                        </div>
                    </a>
                </li>
                <li class="ml-8 border-b-2 border-white hover:border-blue-500 py-10 w-1/5 text-center">
                    <a  href="#">
                        <div>
                            <i class="far fa-bell fa-lg mr-2"></i>
                        </div>
                        <div>
                            알림
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

  
