
{% extends 'base.html' %} 

{% load humanize %}

{% block page_name %} 

{{room.name}}

{% endblock page_name %} 

{% block content %} 
<div class="container mx-auto pb-10">
    <div class="flex justify-evenly">
        <div class="flex w-1/2  mx-8">
            <div class="w-1/2 h-auto bg-center bg-cover rounded-md border-2 border-gray-200 hover:border-green-300" style="background-image: url({{room.first_photo}});"></div>
            <div class="w-1/2 ml-2 flex flex-wrap">
                
                {% for photo in room.get_five_photos  %}
                    <div style="background-image: url({{photo.file.url}})" class="w-1/2 h-auto bg-center bg-cover border-2 border-gray-200 hover:border-green-300"></div>
                {% endfor %}
                    
            </div>
        </div>
        <div class="w-1/2 mx-8">
            <form>
                <div class="text-lg font-semibold">
                    {{room.brand}}
                </div>
                <div class="text-2xl font-bold border-b-2 ">
                    {{room.name}}
                </div>
                <div class="mt-1">
                    판매가 <span class="text-lg ml-4">{{room.price|intcomma}}</span> 원
                </div>
                <div class="mt-1">
                    할인가 <span class="text-xl font-bold ml-4 price">{{room.discount|intcomma}}</span> 원 <span class="text-lg text-red-500 font-bold ml-4">- {{room.discount_rate}}%</span>
                </div>
                <div class="flex mt-1">
                    <div>
                        배송조건 <span class="font-bold mx-4">{{room.delivery_condition}}</span>
                    </div>
                    <div class="border-2 border-gray-300 px-6 ml-4 rounded-md">
                        <select name="delivery_term" id="delivery_term">
                                <option value="">옵션 선택</option>
                            {% for d in delivery_term  %}
                                <option value="{{d.pk}}">{{d}}</option>
                            {% endfor %}
                                
                        </select>
                    </div>
                </div>
                
                <div class="mt-1">주문 후 <span class="text-red-400">최대 7일</span>내로 발송 가능</div>
                <div class="mt-1">{{room.nation}} 에서 구매</div>
                <div class="mt-1">
                    요약 설명글
                </div>
                <div class="border-2 border-gray-300 ml-4 w-full mt-1 rounded-md">
                    <select class="w-full" name="color" id="color" >
                        <option value="">상품옵션을 선택해주세요.</option>
                        {% for c in room.color.all  %}
                            <option value="{{c.pk}}">{{c}}</option>
                        {% endfor %}
                            
                    </select>
                </div>
                
                
            </form>
       
        
          </div>
    </div>
    <div class="flex justify-evenly mt-8 pb-16 border-b-2 border-gray-200">
        <div class="w-1/2 mx-8">
            <div class=" bg-purple-100 h-1/2 py-4">
                <div class="ml-2 mb-4 font-semibold text-lg">유의사항</div> 
                <div class="ml-2">
                    <div>- 해외배송 제품의 관부가세 유의사항 확인 필수!</div>
                    <div>- 파손 위험 / 택배사 과실로 인한 파손은 환불 불가합니다.</div>
                    <div>- 단순변심으로 인한 교환 / 환불은 불가능합니다.</div>
                </div>
                
            </div>
            <div class="mt-4 h-1/2 pb-16">
                <div class="flex justify-start items-center">
                    <div class="w-24 h-24 bg-center bg-cover rounded-md border-2 border-gray-200 hover:border-green-300" style="background-image: url({{room.first_photo}});"></div>
                    <div class="ml-2 text-lg font-bold">{{room.host}}님의 마켓</div>
                </div>
                <div class="container mx-auto flex flex-wrap mt-4 h-1/2">
                    {% for room in host_rooms %}
                    
                    <div class="w-1/4">
                        <a href="{% url "rooms:detail" room.pk %}">
                            <div class="h-24 bg-center bg-cover rounded-md border-2 border-gray-200 hover:border-green-300" style="background-image: url({{room.first_photo}});"></div>
                        
                            <div class="text-sm ml-2">
                                <div class="font-semibold">{{room.brand}}</div>
                                <div class="text-gray-400">{{room.name}}</div>
                                <div>{{room.price|intcomma}} 원</div>
                            </div>
                        </a>
                       
                        
                    </div>
                    
                    {% endfor %}
                </div>
    
            </div>
        </div>
        
        <div class="w-1/2 mx-8 bg-purple-100 ">
            <div class="flex justify-around">
                <div class="font-semibold ml-4 w-1/2 mt-2">상품도착예측</div>
                <div class="font-semibold ml-4 w-1/2 mt-2">상품배송조회</div>
            </div>
            <div class="flex ">
                <div class="ml-4 w-1/2">
                    <form class="bigdata w-3/4" method="GET" action="{% url "rooms:detail" room.pk%}">
                        <div class="mt-1">
                            <select name="shipping" id="shipping" class="text-sm w-full" >
                                <option value="" >국내택배</option>
                                <option value="0" 
                                {% if shipping|slugify == "0"  %}
                                    selected
                                {% endif %}
                                    >우체국</option>
                                <option value="1">CJ대한통운</option>
      
                            </select>
                        </div>
                        <div class="mt-1">
                            <select name="carrier" id="carrier" class="text-sm w-full">
                                <option value="">특송사</option>
                                <option value="0">판토스</option>
                                <option value="1">대한통운</option>
        
                            </select>
                        </div>
                        <div class="mt-1">
                            <select name="day1" id="day1" class="text-sm w-full">
                                <option value="">비행도착요일</option>
                                <option value="1">월요일</option>
                                <option value="2">화요일</option>
                                <option value="3">수요일</option>
                                <option value="4">목요일</option>
                                <option value="5">금요일</option>
                                <option value="6">토요일</option>
                                <option value="0">일요일</option>
      
                            </select>
                        </div>
                        <div class="mt-1">
                            <select name="arrival_time" id="arrival_time" class="text-sm w-full">
                                <option value="">비행도착시간</option>
                                <option value="900">09:00</option>
                                <option value="1200">12:00</option>
                                <option value="1500">15:00</option>
                                <option value="1800">18:00</option>
                                <option value="2100">21:00</option>     
                            </select>
                        </div>
                        <div class="mt-1">
                            <select name="destination" id="destination" class="text-sm w-full">
                                <option value="">도착지</option>
                                <option value="0">부산</option>
                                <option value="1">광주</option>
                                <option value="2">서울</option>
                                <option value="3">제주도</option>
    
                            </select>
                        </div>
           
                        <div class="mt-1">
                            <select name="day2" id="day2" class="text-sm w-full">
                                <option value="">소포도착예정요일</option>
                                <option value="1">월요일</option>
                                <option value="2">화요일</option>
                                <option value="3">수요일</option>
                                <option value="4">목요일</option>
                                <option value="5">금요일</option>
                                <option value="6">토요일</option>
                                <option value="0">일요일</option>     
                            </select>
                        </div>
                        <button class="bg-green-400 text-white px-4 border rounded-sm mt-2 w-full">조회</button>
                        
                    </form>
                    <div class="flex flex-col items-center w-full">
                        <div class="text-purple-600 font-semibold">결과</div>
                        <div class="result-select"></div>
                        <div>{{day1}} 
                        {% if day1 is not null %}
                                    부터
                        {% endif %}
                              {{result}}</div>
                        <div>걸린시간 : {{interval|floatformat:"1"}}초</div>
                    </div>
                    
                    
                </div>
                <div class="mt-1">
                        <form>
                            <input class="w-full" value={{code}} name="code" placeholder="송장번호를 입력해주세요."/>
                            <button>조회</button>
                        </form>
                        
                        
                </div>
            </div>
            
            <div class="bg-gray-200 m-2 pb-8">
                <div class="ml-4 text-2xl font-bold">
                    총 상품금액
                </div>
                <div >
                    <form>
                        <div class="flex justify-between mx-2 mt-4 price">
                            <div  class="w-1/4 text-sm">상품옵션</div>
                            <div class="w-1/2">
                                <div class="js-count flex justify-start">
                                    <div class="js-minus bg-white mx-1 px-2 rounded-lg hover:bg-green-400">-</div>
                                    <input class="text-center" value="{{count}}"name="count">
                                    <div class="js-plus bg-white mx-1 px-2 rounded-lg hover:bg-purple-600">+</div>
                                </div>
                            </div>
                            <div class="flex justify-end w-1/4 text-sm">
                                <div>
                                    총 상품금액:
                                </div>
                                <div class="js-result ml-4">
                                    <span>원</span>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class=" flex justify-between">
                            <button class="bg-green-400 w-1/2 py-2 rounded-md mt-4 mx-2 text-white">장바구니</button>
                            <button class="bg-purple-400 w-1/2 py-2 rounded-md mt-4 mx-2 text-white">구매</button>
                        </div>
                    </form>
                
                    
                </div>
            </div>
            
            
        </div>
    </div>
    
    <div class="mt-8 justify-center">
        <div class="text-2xl font-bold">상품평<span class="text-purple-600">({{room.reviews.all|length}})</span></div>
        
        <div>
            
            {% for review in room.reviews.all %}
            <div class="border-b border-gray-400 mb-2 py-2">
                <div>{{review.user}}</div>
                <i class="fas fa-star text-purple-600 text-xs mr-2"></i>{{review.value}}
                <div class="border border-gray-300 rounded-md py-2 px-2">{{review.review}}</div>
            </div>
               
            {% endfor %}
                
        </div>
        
    </div>
    

</div>

<script>
    const count=document.querySelector(".js-count")
    const plusBtn=count.querySelector(".js-plus")
    const minusBtn=count.querySelector(".js-minus")
    const input=count.querySelector("input")
    const price=document.querySelector(".price")
    const result=document.querySelector(".js-result")
    // selected option result
    const shipping=document.querySelector("#shipping")

    console.log(shipping.option)

    let counter=0

    const discountPrice=parseInt(price.innerText.replace(",",""))

    console.log("10000".split(""))

    const array="10000".split("")

 
    const list=array.map((x)=>x+",")
    
    console.log(list)

    const clickPlusBtn=(e)=>{
        
        //e.preventDefault()
        counter=counter+1
        input.value=counter
        result.innerText=`${counter*discountPrice} 원`
        
        
    }

    const clickMinusBtn=(e)=>{
        
        //e.preventDefault()
        if(counter>0){
            counter=counter-1
            input.value=counter
            result.innerText=`${counter*discountPrice} 원`
        }
        
    }

    plusBtn.addEventListener("click",clickPlusBtn)
    minusBtn.addEventListener("click",clickMinusBtn)
</script>
    

{% endblock %} 