{% extends 'base.html' %} 

{% block page_name %} 

Home | dy networks

{% endblock page_name %} 

{% block content %} 

{% for room in rooms %} 

{{room.name}}/{{room.host}}/{{room.nation}}
{% endfor %} 
<div>
    
    {% if rooms.has_previous %}
    <a href="/?page={{rooms.number|add:"-1"}}">Previous</a> 
    {% endif %}
    
        
    <div>page : {{rooms.number}}/{{rooms.paginator.num_pages}}</div>

    {% if rooms.has_next %}
    <a href="/?page={{rooms.number|add:"1"}}">Next</a>   
    {% endif %}
    
</div>



    

{% endblock content %}
