
{% extends 'base.html' %} 
{% load static %}

{% block page_name %} 

Home | dy networks

{% endblock page_name %} 

{% block content %} 

<div class="container mx-auto">
    <div class="js-bgimage w-full h-50vh -mt-4 mb-4 bg-cover bg-center border rounded-md" style="background-image: url(/static/img/bgimage1.jpeg)" >

    </div>
    <div class="py-4 ml-2">
        <span>총 </span><span class="text-purple-600">{{rooms_count}}</span><span>개</span>
    </div> 
    <div class="flex flex-wrap">
        {% for room in rooms %} 
        {% include 'partials/room_card.html' with room=room %}
    {% endfor %} 
    </div>
    


    <div class="flex justify-center text-green-400 font-semibold mt-6">
        
        <div class="mx-4">
            {% if page_obj.has_previous %}
            <a href="/?page={{page_obj.number|add:"-1"}}">이전페이지</a> 
            {% endif %}
        </div>
        
        
            
        <div class="mx-4">{{page_obj.number}}/{{page_obj.paginator.num_pages}}</div>

        <div class="mx-4">
            {% if page_obj.has_next %}
            <a href="/?page={{page_obj.number|add:"1"}}">다음페이지</a>   
            {% endif %}
        </div>
       
        
    </div>
</div>


{% endblock content %}
