{% extends 'base.html' %}


{% block page_name %}
    Search by {{nation}}
{% endblock page_name %}


{% block search_bar %}
    
{% endblock search_bar %}
    
    
{% block content %}

    <h2>Search</h2>
    <form method="GET" action="{% url "rooms:search" %}">
        <div>
            <label for="name">상품명</label>
            <input value="{{name}}" id="name" name="name" placeholder="Search by Name"/>
        </div>

        <div>
            <label for="nation">국가</label>
            <select name="nation" id="nation">
                
                {% for n in nations  %}
                    <option value="{{n.pk}}" 
                    {% if n.pk == selected_nation %} 
                        selected
                    {% endif%} >{{n}}</option>
                {% endfor %}
                    
            </select>
        </div>

        <div>
            <label for="category">카테고리</label>
            <select name="category" id="category">
                
                {% for c in categories  %}
                    <option value="{{c.pk}}" 
                    {% if c.pk == selected_category %}
                        selected
                    {% endif %}>{{c}}</option>
                {% endfor %}
                    
            </select>
        </div>

        <div>
            <label for="brand">브랜드</label>
            <select name="brand" id="brand">
                
                {% for b in brands  %}
                    <option value="{{b.pk}}" 
                    {% if b.pk == selected_brand %}
                        selected
                    {% endif %}>{{b}}</option>
                {% endfor %}
                    
            </select>
        </div>

        <div>
            <label for="price">Price</label>
            <input value="{{price}}" type="number" id="price" name="price" placeholder="Price"/>
        </div>

        <div>
            <label for="rate">Discount Rate</label>
            <input value="{{rate}}" type="number" id="rate" name="rate" placeholder="Discount Rate"/>
        </div>

        <div>
            <h3>Colors</h3>
            <ul>
                
                {% for color in colors %}
                    <li>
                        <label for="{{color.pk}}">{{color}}</label>
                        <input type="checkbox" name="colors" id="{{color.pk}}" value="{{color.pk}}" 
                        {% if color.pk|slugify in selected_color %}
                            checked
                        {% endif %}
                            />
                    </li>
                {% endfor %}
                    
            </ul>
        </div>
        <button>찾기</button>
      </form>

{% endblock content %}
    