{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{% block page_name %} {% endblock page_name %}</title>
  </head>
  <body class="text-gray-800 mt-48">
    <header class="container max-w-full top-0 fixed bg-white">
      <div class="flex justify-around text-sm bg-black text-gray-100">
        <div>
          <a class="flex m-2 items-center" href="#">즐겨찾기</a>
        </div>
        <div></div>
        <div>
          <ul class="flex items-center">
            <li class="m-2">
              <a href="#">로그인</a>
            </li>
            <li class="m-2">
              <a href="#">회원가입</a>
            </li>
            <li class="m-2">
              <a href="#">고객센터</a>
            </li>
          </ul>
        </div>
      </div>

      {% include 'partials/header.html' %}
    </header>

    {% block content %} {% endblock %} {% include 'partials/footer.html' %}
  </body>
</html>
